.show_chat{
    display: block;

}  

.hidden_chat{
    display: none;

}

.icon_chat{
    
}


.react-chatbot-kit-chat-container {
    margin: 20px;   
}

.header-chatboot{
    padding: 9px;
    border-radius: 3px;
    background-color: aquamarine;
}
/*
.react-chatbot-kit-chat-inner-container {
    background-color: aqua;
}

.react-chatbot-kit-chat-header {
    background-color: aqua;
}

.react-chatbot-kit-chat-input-container {
    background-color: aqua;
}

.react-chatbot-kit-chat-message-container {
    background-color: aqua;
}

.react-chatbot-kit-chat-input {
    background-color: aqua;
}

.react-chatbot-kit-chat-input-form {
    background-color: aqua;
}

.react-chatbot-kit-chat-input::placeholder {
    background-color: aqua;
}

.react-chatbot-kit-chat-btn-send {
    background-color: aqua;
}

.react-chatbot-kit-chat-btn-send-icon {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-message-container {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-avatar-container {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-avatar-icon {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-avatar-letter {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-message {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-message-arrow {
    background-color: aqua;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
    background-color: aqua;
}

.chatbot-loader-container {
    background-color: aqua;
}

#chatbot-loader #chatbot-loader-dot1 {
    background-color: aqua;
}

#chatbot-loader #chatbot-loader-dot2 {
    background-color: aqua;
}

#chatbot-loader #chatbot-loader-dot3 {
    background-color: aqua;
}

.react-chatbot-kit-error {
    background-color: aqua;
}

.react-chatbot-kit-error-container {
    background-color: aqua;
}

.react-chatbot-kit-error-header {
    background-color: aqua;
}

.react-chatbot-kit-error-docs {
    background-color: aqua;
}**/